            #navbar {
    background-color: #5C5C5C;
    color:white;
    clear:both;
    text-align:center;
    padding: 2px;
}
            #navbar li {
    display:inline-block;
    padding: 2px;
    padding-right: 30px;
    padding-left: 30px;
}
            #navbar a {
    color: white;
    font-family: "Lucida Console", Monaco, monospace;
}
            html { 
    background: url(https://wallpaperscraft.com/image/calculator_penny_close-up_money_80276_3840x2160.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
            p {
    font-size: 14px;
    padding: 6px;
    color: white;
    }
            h1 {
    color: black;
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 32px;
    }
            h2 {
    color: black;
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 28px;
    }
            h3 {
    color: white;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 23px;
    }
            ul {
    color: white;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 18px;
    }
            #right {
    background: #004B63;
    width: 600px;
    float: right;
    margin-right: 20px;
    padding-top: 10px;
    }
            #left {
    background: #004B63;
    width: 600px;
    float: left;
    margin-left: 20px;
    padding-top: 10px;
    }
            #padding-text {
    padding: 6px;
    }
            #welcome-section {
    background: #5C5C5C;
    width: 500px;
    padding: 6px;
    margin: auto;
    }