            #navbar {
                background-color: #1a4e23;
                color: white;
                clear: both;
                text-align: center;
                padding: 2px;
            }
            
            #navbar li {
                display: inline-block;
                padding: 2px;
                padding-right: 20px;
                padding-left: 20px;
            }
            
            #navbar a {
                color: white;
                font-family: "Lucida Console", Monaco, monospace;
            }
            
            html {
                background: url(https://i.ytimg.com/vi/kqUR3KtWbTk/maxresdefault.jpg) no-repeat center center fixed;
                -webkit-background-size: cover;
                -moz-background-size: cover;
                -o-background-size: cover;
                background-size: cover;
            }
            
            p {
                font-size: 14px;
                padding: 6px;
                color: white;
            }
            
            h1 {
                color: white;
                font-family: "Arial Black", Gadget, sans-serif;
                font-size: 32px;
            }
            
            h2 {
                color: white;
                font-family: "Arial Black", Gadget, sans-serif;
                font-size: 28px;
            }
            
            h3 {
                color: white;
                font-family: "Comic Sans MS", cursive, sans-serif;
                font-size: 23px;
            }
            
            ul {
                color: white;
                font-family: "Trebuchet MS", Helvetica, sans-serif;
                font-size: 18px;
            }
            
            #right {
                background: #1a4e23;
                width: 600px;
                float: right;
                margin-right: 20px;
                padding-top: 10px;
            }
            
            #left {
                background: #1a4e23;
                width: 600px;
                float: left;
                margin-left: 20px;
                padding-top: 10px;
            }
            
            #padding-text {
                padding: 6px;
            }
            
            #welcome-section {
                background: #1a4e23;
                width: 500px;
                padding: 6px;
                margin: auto;
            }
            
            #text-custom-1 p {
                font-size: 25px;
            }
            
            #html-examp {
                background: white;
                width: 300px;
                margin: auto;
            }
            
            #html-examp p {
                color: black;
            }
            
            #text {
                font-family: "Courier New", Courier, monospace;
            }
            
            #bdown {
                font-weight: bold;
                color: white;
            }
            
            #css-examp {
                background: gray;
                width: 300px;
                margin: auto;
                padding: 5px;
            }
            
            #css-examp p {
                color: black;
                font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
            }
            
            #css-examp-title {
                font-weight: bold;
            }
            
            .hacking {
                color: red;
            }
            
            #code {
                background: white;
                width: 550px;
                padding: 10px;
                margin: auto;
            }