            #navbar {
    background-color: #919191;
    color:white;
    clear:both;
    text-align:center;
    padding: 2px;
}
            #navbar li {
    display:inline-block;
    padding: 2px;
    padding-right: 30px;
    padding-left: 30px;
}
            #navbar a {
    color: white;
    font-family: "Lucida Console", Monaco, monospace;
}
            p {
    font-size: 14px;
    padding: 10px;
    color: white;
    }
    
            html { 
    background: url(http://images7.alphacoders.com/587/587593.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
            p {
    font-size: 14px;
    padding: 10px;
    color: white;
    }
            h1 {
    color: white;
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 32px;
    }
            h2 {
    color: white;
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 28px;
    }
            h3 {
    color: white;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 23px;
    }
            ul {
    color: white;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 18px;
    }
            #padding-text {
    padding: 10px;
    }
            #welcome-section {
    background: #919191;
    width: 600px;
    padding: 10px;
    margin: auto;
    }
            #info1 p {
    font-size: 14px;
    padding: 10px;
    color: white;
    }
            #info1 p {
    font-size: 14px;
    padding: 10px;
    color: white;
    }
            #text {
    font-size: 20px;
    padding: 10px;
    color: white;
    }