            #navbar {
                background-color: #281e5b;
                color: white;
                clear: both;
                text-align: center;
                padding: 2px;
            }
            
            #navbar li {
                display: inline-block;
                padding: 2px;
                padding-right: 20px;
                padding-left: 20px;
            }
            
            #navbar a {
                color: white;
                font-family: "Lucida Console", Monaco, monospace;
            }
            
            html {
                background: url(https://i.ytimg.com/vi/ND07m8wBltQ/maxresdefault.jpg) no-repeat center center fixed;
                -webkit-background-size: cover;
                -moz-background-size: cover;
                -o-background-size: cover;
                background-size: cover;
            }
            
            p {
                font-size: 14px;
                padding: 6px;
                color: white;
            }
            
            h1 {
                color: white;
                font-family: "Arial Black", Gadget, sans-serif;
                font-size: 32px;
            }
            
            h2 {
                color: white;
                font-family: "Arial Black", Gadget, sans-serif;
                font-size: 28px;
            }
            
            h3 {
                color: white;
                font-family: "Comic Sans MS", cursive, sans-serif;
                font-size: 23px;
            }
            
            ul {
                color: white;
                font-family: "Trebuchet MS", Helvetica, sans-serif;
                font-size: 18px;
            }
            
            #explanation {
                background: #281e5b;
                width: 800px;
                margin: auto;
                padding: 5px;
            }
            
            #right {
                background: #281e5b;
                width: 600px;
                float: right;
                margin-right: 20px;
                padding-top: 10px;
            }
            
            #left {
                background: #281e5b;
                width: 600px;
                float: left;
                margin-left: 20px;
                padding-top: 10px;
            }
            
            #padding-text {
                padding: 6px;
            }
            
            #welcome-section {
                background: #281e5b;
                width: 500px;
                padding: 6px;
                margin: auto;
            }
            
            #text-custom-1 p {
                font-size: 25px;
            }
            
            #text {
                font-family: "Courier New", Courier, monospace;
            }
            
            #bdown {
                font-weight: bold;
                color: white;
            }
            
            #centerline {
                background: #281e5b;
                width: 1000px;
                padding: 8px;
                margin: auto;
                word-wrap:break-word;
            }
            
            #code {
                background: #ffffff;
                width: 800px;
                padding: 10px;
                margin: auto;
                word-wrap:break-word;
            }
            